<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">

      <view
            name="PDT Focus View"
            category="org.cs3.pdt"
            class="pdt.y.focusview.FocusViewPlugin"
            id="pdt.view.focus">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="pdt.y.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.cs3.pdt.internal.preferences.PDTPreferencePage"
            class="pdt.y.preferences.PreferencePage"
            id="pdt.y.focusview.preferences.PreferencePage"
            name="Focus View">
      </page>
      <page
            category="pdt.y.focusview.preferences.PreferencePage"
            class="pdt.y.preferences.LayoutPreferences"
            id="pdt.y.focusview.preferences.LayoutPreferences"
            name="Layout">
      </page>
   </extension>
</plugin>
