<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.cs3.pdt.console"
   name="Console"
   version="0.2.0.qualifier"

   class="org.cs3.pdt.console.PrologConsolePlugin">
   <runtime>
      <library name="console.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.cs3.pdt.common"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.cs3.pdt.core"/>
      <import plugin="org.cs3.pdt.runtime"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.cs3.pdt.common.ui"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.resources"/>
   </requires>
<!--   <extension-point id="consoleContextMenu" name="Console Context Menu" schema="schema/console_context_menu.exsd"/> 
   <extension
         point="org.cs3.pdt.console.consoleContextMenu">
      <SelectionContextAction
            class="org.cs3.pdt.console.internal.actions.CopyAction"
            name="copy"
            sharedIcon="IMG_TOOL_COPY"/>
      <SelectionContextAction
            class="org.cs3.pdt.console.internal.actions.ClearAction"
            icon="icons/clear.gif"
            name="clear"/>
      <SelectionContextAction
            class="org.cs3.pdt.console.internal.actions.SelectAllAction"
            name="select all"/>
   </extension>
   -->
	<extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.cs3.pdt.console.internal.views.PrologConsoleView"
            category="org.cs3.pdt"
            name="Prolog Console"
            id="org.cs3.pdt.console.internal.views.PrologConsoleView"/>
	</extension>
	 <!--<extension
       point="org.cs3.pdt.runtime.hooks">
	    <hook
          class="org.cs3.pdt.console.internal.hooks.ConsoleServerHook"
          id="org.cs3.pdt.console.internal.hooks.ConsoleServerHook"/>
	</extension>-->
	<extension
       point="org.eclipse.core.runtime.preferences">
    <initializer class="org.cs3.pdt.console.internal.preferences.Initializer"/>
 </extension>
    <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.cs3.pdt.internal.preferences.PDTPreferencePage"
          class="org.cs3.pdt.console.internal.preferences.PreferencePage"
          id="org.cs3.pdt.console.internal.preferences.PDTPreferencePage"
          name="Prolog Console"/>
 </extension>
    <extension
          point="org.cs3.pdt.runtime.prologLibrary">
       <library
             alias="library"
             id="pdt.console.library"
             path="pl">
                     <attribute id="hidden" value="true"/>
       </library>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <category
             id="org.cs3.pdt.console"
             name="PDT Console Commands"/>
       <command
             category="org.cs3.pdt.console"
             categoryId="org.cs3.pdt.console"
             description="Paste the name of the file currently edited in the editor"
             id="pdt.console.paste_filename"
             name="Paste Filename"/>
    </extension>
    <extension
          point="org.eclipse.ui.contexts">
       <context
             id="org.cs3.pdt.console"
             name="using the prolog console view"
             parentId="org.eclipse.ui.contexts.dialogAndWindow"/>
    </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="pdt.console.paste_filename"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="CTRL+SHIFT+V"/>
    </extension>

</plugin>
