<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="ImportOrganizer">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="ImportOrganizer"
            class="importorganizer.views.SampleView"
            id="importorganizer.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.cs3.prolog.connector.bootstrapContribution">
      <fileContribution
            id="ImportOrganizer.fileContribution"
            path="pl/import_organizer.pl">
         <dependency
               contribution="org.cs3.pdt.common.fileContribution">
         </dependency>
      </fileContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ImportOrganizer.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="ImportOrganizer.commands.category"
            id="ImportOrganizer.commands.sampleCommand"
            name="Sample Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="importorganizer.handlers.SampleHandler"
            commandId="ImportOrganizer.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ImportOrganizer.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="ImportOrganizer.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="ImportOrganizer.commands.sampleCommand"
                  id="ImportOrganizer.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="ImportOrganizer.toolbars.sampleToolbar">
            <command
                  commandId="ImportOrganizer.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="ImportOrganizer.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
