<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.cs3.jlmp"
   name="JTransformer"
   version="2.1.0"
   provider-name="http://roots.iai.uni-bonn.de"
   class="org.cs3.jlmp.JLMPPlugin">

   <runtime>
      <library name="JTransformer_NG.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.cs3.pdt"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.jdt.launching"/>
   </requires>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="JTransformer"
            id="console">
      </category>
      <view
            allowMultiple="false"
            class="org.cs3.jlmp.internal.views.PEFNavigatorView"
            icon="icons/sample.gif"
            category="console"
            name="PEF Navigator"
            id="org.cs3.jlmp.internal.navigator.NavigatorView"/>
   </extension>

 <extension
         id="JLMPProjectNature"
         name="JLMP Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.cs3.jlmp.internal.natures.JLMPProjectNature">
         </run>
      </runtime>
      <builder
            id="org.cs3.jlmp.JLMPProjectBuilder">
      </builder>
   </extension>
   <extension
         id="JLMPProjectBuilder"
         name="JLMPProjectBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.cs3.jlmp.internal.builders.JLMPProjectBuilder">
         </run>
      </builder>
   </extension>
     <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaProject"
            id="JLMPProjectObjectContribution">
         <action
               label="JTransformer Nature"
               style="toggle"
               tooltip="Assignes/retracts JLMP nature to/from a project"
               class="org.cs3.jlmp.internal.actions.JLMPNatureAction"
               id="JLMPNatureAction">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaProject"
            id="ProjectObjectExtension">
         <action
               label="Export project factbase"
               class="org.cs3.pl.export.FactbaseExport"
               tooltip="Create a new factbase for this project and save it into a file."
               style="push"
               id="org.cs3.jlmp.export.factbaseexport">
         </action>
      </objectContribution>      
   </extension>
   <extension
         point="org.cs3.pdt.bootstrapContribution">
      <contribution path="engine/main.pl"/>
   </extension>
   <extension
         point="org.cs3.pdt.hooks">
      <hook
            class="org.cs3.jlmp.internal.hooks.ReloadHook"
            id="ReloadHook"/>
   </extension>
   
   <extension
      id="jlmpproblem"
      point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>      
      <persistent value="true" />
   </extension>
   <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="org.cs3.jlmp.internal.preferences.PreferencePage"
          name="JLMP Preferences"
          id="org.cs3.jlmp.internal.preferences.PDTPreferencePage"/>
 </extension>
 
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer class="org.cs3.jlmp.internal.preferences.Initializer"/>
 </extension>
 
 
<extension
       point="org.eclipse.ui.propertyPages">
    <page
          objectClass="org.eclipse.core.resources.IProject"
          class="org.cs3.jlmp.internal.properties.JLMPProjectPropertyPage"
          icon="icons/sample.gif"
          name="JLMP Project Properties"
          id="org.cs3.jlmp.properties.jlmpPropertyPage">
		  <filter
               name="nature"
               value="org.cs3.jlmp.JLMPProjectNature"/>
    </page>
 </extension> 
      <extension-point id="projectlistener" name="JLMP Project Listener" schema="schema/projectlistener.exsd"/>
</plugin>
