<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.cs3.jtransformer"
   name="JTransformer"
   version="2.2.0"
   provider-name="http://roots.iai.uni-bonn.de"
   class="org.cs3.jtransformer.JTransformerPlugin">

   <runtime>
      <library name="JTransformer_NG.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.cs3.pdt.common"/>
      <import plugin="org.cs3.pdt"/>
      <import plugin="org.cs3.pdt.console"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.cs3.pdt.runtime"/>
      <import plugin="org.cs3.pdt.common.ui"/>
      <import plugin="org.eclipse.jdt.ui"/>

   </requires>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="JTransformer"
            id="console">
      </category>
      <view
            allowMultiple="false"
            class="org.cs3.jtransformer.internal.views.PEFNavigatorView"
            icon="icons/sample.gif"
            category="console"
            name="PEF Navigator"
            id="org.cs3.jtransformer.internal.navigator.PEFNavigatorView"/>
   </extension>

 <extension
         id="JTransformerProjectNature"
         name="JTransformer Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.cs3.jtransformer.internal.natures.JTransformerProjectNature">
         </run>
      </runtime>
      <builder
            id="org.cs3.jtransformer.JTransformerProjectBuilder">
      </builder>
   </extension>
   <extension
         id="JTransformerProjectBuilder"
         name="JTransformerProjectBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.cs3.jtransformer.internal.builders.JTransformerProjectBuilder">
         </run>
      </builder>
   </extension>
     <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="JTransformerProjectObjectContribution">
         <action
               label="JTransformer Nature"
               style="toggle"
               tooltip="Assignes/retracts JTransformer nature to/from a project"
               class="org.cs3.jtransformer.internal.actions.JTransformerNatureAction"
               id="JTransformerNatureAction">
         </action>
      </objectContribution>
      <viewerContribution
            id="jtransformer.viewercontribution.prologconsole"
            targetID="org.cs3.pdt.console.internal.views.PrologConsoleView">


		<action
               class="org.cs3.jtransformer.internal.actions.GotoPEFNavigatorAction"
               id="jtransformer.action.open_in_pef_navigator"
               label="Open in PEF Navigator"
               menubarPath="additions"/>

		<action
		       class="org.cs3.jtransformer.internal.actions.OpenSelectionInEditorAction"
               id="jtransformer.action.open_in_java_editor"
               label="Open in Java editor"
               menubarPath="additions"/>


       
      </viewerContribution>
   </extension>
   
   <extension
      id="jtransformerproblem"
      point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>      
      <persistent value="true" />
   </extension>
   <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="org.cs3.jtransformer.internal.preferences.PreferencePage"
          name="JTransformer Preferences"
          id="org.cs3.jtransformer.internal.preferences.PDTPreferencePage"/>
 </extension>
 
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer class="org.cs3.jtransformer.internal.preferences.Initializer"/>
 </extension>
 
 
<extension
       point="org.eclipse.ui.propertyPages">
    <page
          adaptable="true"
          objectClass="org.eclipse.core.resources.IProject"
          icon="icons/sample.gif"
          class="org.cs3.jtransformer.internal.properties.JTransformerProjectPropertyPage"
          name="JTransformer Project Properties"
          id="org.cs3.jtransformer.properties.jtransformerPropertyPage">
		  <filter
               name="nature"
               value="org.cs3.jtransformer.JTransformerProjectNature"/>
    </page>
 </extension> 
      <extension-point id="projectlistener" name="JTransformer Project Listener" schema="schema/projectlistener.exsd"/>
 <extension
       point="org.eclipse.ui.actionSets">
    <actionSet
          label="JTransformer Actions"
          visible="true"
          id="org.cs3.jtransformer.internal.actions">
       <menu
             label="&amp;JTransformer"
             id="org.cs3.jtransformer.menus.jtransformer">
          <separator name="separator2"/>
       </menu>
       <action
             label="selection to clipboard"
             class="org.cs3.jtransformer.internal.actions.FactsToClipboard"
             style="push"
             menubarPath="org.cs3.jtransformer.menus.jtransformer/separator2"
             id="org.cs3.pdt.internal.actions.selectiontoclipboard"/>
       <action
             label="regenerate classes"
             class="org.cs3.jtransformer.internal.actions.RegenAction"
             style="push"
             menubarPath="org.cs3.jtransformer.menus.jtransformer/separator2"
             id="org.cs3.jtransformer.internal.actions.regenerateclasses"/>
       <action
             class="org.cs3.jtransformer.internal.actions.AddingFactsToClipboard"
             id="org.cs3.pdt.internal.actions.addingfactstoclipboard"
             label="adding selection to clipboard"
             menubarPath="org.cs3.jtransformer.menus.jtransformer/separator2"
             style="push"/>
    </actionSet>
 </extension>
 <extension
       point="org.cs3.pdt.runtime.prologContextTracker">
    <tracker
          class="org.cs3.jtransformer.internal.tracker.JavaEditorTracker"
          id="org.cs3.jtransformer.internal.tracker.FollowJavaEditor"
          label="follow Java editor"/>
 </extension>
 <extension
       point="org.cs3.pdt.runtime.prologLibrary">
    <library
          alias="library"
          id="org.cs3.jtransformer.engine"
          path="engine">
       <dependency library="pdt.runtime.library.attic"/>
    </library>
 </extension>
</plugin>
