#Wed Feb 20 19:52:10 CET 2008
autotestsuite.class.exclusions=.*All(PDE_Tests|_Tests|PDETests).*
test.eclipse.zip=L\:\\Work\\eclipse-SDK-3.3-win32.zip
autotestsuite.trace=true
pluginbuilder.features=PDTFeature
pluginbuilder.is.svn=false
autotestsuite.class.inclusions=.RestartTest;.SocketSessionTest;.SocketSessionThrowTest;.LazyStartupRaceTest;.XpceTest
pluginbuilder.is.runtests=true
autotestsuite.plugin.inclusions=.*(test|tests)$;org.cs3.pdt.runtime;org.cs3.pdt.runtime.socket
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=true
pluginbuilder.is.rcpbuild=false
