<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension-point id="hooks" name="LifeCycle Hooks" schema="schema/org.cs3.pdt.hooks.exsd"/>
   <extension-point id="prologContextTracker" name="Prolog Context Tracker" schema="schema/prologContextTracker.exsd"/>
	<extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.cs3.pdt.runtime.preferences.PreferenceInitializer">
    </initializer>
 </extension>
    <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.cs3.pdt.internal.preferences.PDTPreferencePage"
          class="org.cs3.pdt.runtime.preferences.PreferencePage"
          id="org.cs3.pdt.runtime.preferences.PreferencePage"
          name="Prolog Runtime">
    </page>
 </extension>
    <extension
          point="org.eclipse.ui.startup">
       <startup/>
    </extension>
    <extension
          point="org.cs3.pdt.runtime.prolog.interface.prologLibrary">
       <library
             alias="library"
             id="pdt.runtime.library.pif"
             path="library/pif/">
          <attribute
                id="hidden"
                value="true"/>
             
             </library>
		<library
        alias="library"
        id="pdt.runtime.library.common"
        path="library/common/">
     <attribute
           id="hidden"
           value="true"/>
  </library>
 
  <library
        alias="library"
        id="pdt.runtime.library.attic"
        path="library/attic/">
     <attribute
           id="hidden"
           value="true"/>
  </library>
  <library
        alias="library"
        id="pdt.runtime.library.pdt"
        path="library/pdt/">
     <attribute
           id="hidden"
           value="true"/>
     <dependency
           library="pdt.runtime.library.common">
     </dependency>
  </library>   
  <library
        alias="library"
        id="pdt.runtime.library.testdata"
        path="library/testdata/">
     <attribute
           id="hidden"
           value="true"/>
  </library>   
                  
    </extension>
 
</plugin>
