<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.cs3.pdt.runtime"
   name="PrologInterface"
   version="0.1.2"

   class="org.cs3.pdt.runtime.PrologRuntimePlugin">
   <runtime>
      <library name="prologinterface.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.cs3.pdt.common"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.cs3.pdt.common.ui"/>
   </requires>
   <extension-point id="hooks" name="LifeCycle Hooks" schema="schema/org.cs3.pdt.hooks.exsd"/>
   <extension-point id="bootstrapContribution" name="Bootstrap Contribution" schema="schema/bootstrapContribution.exsd"/>
   <extension-point id="prologSource" name="Prolog Source" schema="schema/prologSource.exsd"/>
	<extension
       point="org.eclipse.core.runtime.preferences">
    <initializer class="org.cs3.pdt.runtime.internal.preferences.Initializer"/>
 </extension>
    <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.cs3.pdt.internal.preferences.PDTPreferencePage"
          class="org.cs3.pdt.runtime.internal.preferences.PreferencePage"
          id="org.cs3.pdt.runtime.internal.preferences.PDTPreferencePage"
          name="Prolog Runtime"/>
 </extension>
 
</plugin>
