<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin
   id="org.cs3.pdt.prolog.library"
   name="PrologLibrary"
   version="0.2.3.qualifier"
>
   <extension
         point="org.cs3.pdt.runtime.bootstrapContribution">
      <fileSearchPathContribution
            alias="pdt_prolog_library"
            id="pdt.prolog.library"
            path="pl/">
      </fileSearchPathContribution>
   </extension>
</plugin>
