<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.cs3.pdt.runtime.bootstrapContribution">
      <fileSearchPathContribution
            alias="org_cs3_lp_extension"
            id="org.cs3.lp.extension"
            path="pl/">
      </fileSearchPathContribution>
   </extension>
</plugin>
