<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="bootstrapContribution" name="Bootstrap Contribution" schema="schema/bootstrapContribution.exsd"/>
     <extension-point id="hooks" name="LifeCycle Hooks" schema="schema/hooks.exsd"/>
   <extension-point id="prologLibrary" name="Prolog Library" schema="schema/prologLibrary.exsd"/>
       <extension
             point="org.cs3.prolog.connector.bootstrapContribution">
          <fileSearchPathContribution
                alias="library"
                id="pdt.runtime.library.pif.contribution"
                path="library/pif">
          </fileSearchPathContribution>
          <fileContribution
                id="prolog.connector.fileContribution"
                path="pl/load.pl">
          </fileContribution>
          <fileSearchPathContribution
                alias="prolog_connector_pl"
                id="org.cs3.prolog.connector.pl.path"
                path="pl/">
          </fileSearchPathContribution>
       </extension>
       <extension
             point="org.cs3.prolog.connector.prologLibrary">
          <library
                id="pdt.runtime.socket.codebase"
                path="library/socket/">
          </library>
       </extension>
</plugin>
