<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.cs3.pdt"
   name="PDT Plug-in"
   version="1.0.0"
   provider-name=""
   class="org.cs3.pdt.PDTPlugin">

   <runtime>
      <library name="PDT.jar">
         <export name="*"/>
      </library>
      <library name="lib/Common.jar">
         <export name="*"/>
      </library>
      <library name="lib/Console.jar">
         <export name="*"/>
      </library>
      <library name="lib/MetaData.jar">
         <export name="*"/>
      </library>
      <library name="lib/PrologInterface.jar">
         <export name="*"/>
      </library>
      <library name="lib/RaPlaRPC.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.search"/>
   </requires>
   <extension-point id="hooks" name="LifeCycle Hooks" schema="schema/org.cs3.pdt.hooks.exsd"/>
   
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.cs3.pdt.startup.StartUp"/>
   </extension>

	<extension
         point="org.eclipse.ui.views">
      <category
            name="Prolog"
            id="org.cs3.pdt"/>
      <view
            allowMultiple="false"
            icon="icons/sample.gif"
            class="org.cs3.pdt.views.PrologConsoleView"
            category="org.cs3.pdt"
            name="Prolog Console"
            id="org.cs3.pdt.views.PrologConsoleView"/>
   </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer class="org.cs3.pdt.preferences.Initializer"/>
 </extension>
 <extension
       point="org.cs3.pdt.hooks">
    <hook
          class="org.cs3.pdt.hooks.ConsoleServerHook"
          id="org.cs3.pdt.hooks.ConsoleServerHook"/>
    <hook
          class="org.cs3.pdt.hooks.MetaDataEngineHook"
          id="org.cs3.pdt.hooks.MetaDataEngineHook"/>
 </extension>
 <extension
       point="org.eclipse.ui.actionSets">
    <actionSet
          label="Prolog Actions"
          visible="true"
          id="org.cs3.pdt.actions">
       <menu
             label="Prolo&amp;g"
             id="org.cs3.pdt.menus.Prolog">
          <separator name="separator1"/>
       </menu>
       <action
             label="restart"
             class="org.cs3.pdt.actions.RestartAction"
             accelerator="Ctrl+F9"
             style="push"
             menubarPath="org.cs3.pdt.menus.prolog/separator1"
             id="org.cs3.pdt.actions.restart"/>
       <action
             label="dump debug info"
             class="org.cs3.pdt.actions.DumpDebugInfoAction"
             style="push"
             menubarPath="org.cs3.pdt.menus.prolog/separator1"
             id="org.cs3.pdt.actions.dump"/>
    </actionSet>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="org.cs3.pdt.preferences.PreferencePage"
          name="PDT Preferences"
          id="org.cs3.pdt.preferences.PDTPreferencePage"/>
 </extension>
  <extension
         point="org.eclipse.ui.editors">
      <editor
            name="PL Editor"
            icon="icons/prolog_file.gif"
            extensions="pl"
            class="org.cs3.pdt.editors.PLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            id="org.cs3.pdt.editors.PLEditor">
      </editor>
   </extension>
 <extension point="org.eclipse.team.core.fileTypes">
	        <fileTypes extension="pl" type="text"/>
	</extension> 
 <extension
       point="org.cs3.pdt.hooks">
 </extension>
</plugin>
