<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

 
	<extension
         point="org.eclipse.ui.views">
      <category
            name="Prolog"
            id="org.cs3.pdt"/>
   </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.cs3.pdt.preferences.PreferenceInitializer">
    </initializer>
 </extension>
 
 <extension
       point="org.eclipse.ui.actionSets">
    <actionSet
          label="Prolog Actions"
          visible="true"
          id="org.cs3.pdt.internal.actions">
       <menu
             label="Prolo&amp;g"
             id="org.cs3.pdt.menus.Prolog">
          <separator name="separator1"/>
          <separator name="separator2"/>
       </menu>
       <action
             label="Restart"
             class="org.cs3.pdt.internal.actions.RestartAction"
             style="push"
             menubarPath="org.cs3.pdt.menus.prolog/separator1"
             id="org.cs3.pdt.internal.actions.restart"/>
       <action
             label="Dump Debug Info"
             class="org.cs3.pdt.internal.actions.DumpDebugInfoAction"
             style="push"
             menubarPath="org.cs3.pdt.menus.prolog/separator1"
             id="org.cs3.pdt.internal.actions.dump"/>
       <action
             label="(Re)consult"
             class="org.cs3.pdt.internal.actions.ConsultActionDelegate"
             style="push"
             menubarPath="org.cs3.pdt.menus.prolog/separator1"
             id="org.cs3.pdt.internal.actions.consult"/>
             
       <action
             label="Open Console"
             class="org.cs3.pdt.internal.actions.OpenConsoleAction"
             style="push"
             menubarPath="org.cs3.pdt.menus.prolog/separator1"
             id="org.cs3.pdt.internal.actions.open.console"/>
             
    </actionSet>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="org.cs3.pdt.preferences.PreferencePage"
          id="org.cs3.pdt.internal.preferences.PDTPreferencePage"
          name="PDT">
    </page>
    <page
          category="org.cs3.pdt.internal.preferences.PDTPreferencePage"
          class="org.cs3.pdt.preferences.PreferencePageColor"
          id="org.cs3.preferences.PreferencePageColor"
          name="Editor Colors">
    </page>
 </extension>
  <extension
         point="org.eclipse.ui.editors">
      <editor
            name="PL Editor"
            icon="icons/prolog_file.gif"
            extensions="pl , plt, lgt"
            class="org.cs3.pdt.internal.editors.PLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            id="org.cs3.pdt.internal.editors.PLEditor">
      </editor>
   </extension>

 <extension
         point="org.eclipse.ui.popupMenus">      
      <viewerContribution
            id="pdt.viewercontribution.console.contextmenu"
            targetID="org.cs3.pdt.console.internal.views.PrologConsoleView">
         <action
               class="org.cs3.pdt.internal.actions.GotoErrorLineViewActionDelegate"
               id="pdt.action.goto_error_line"
               label="Goto Error Line"
               menubarPath="additions"/>
      </viewerContribution>
 </extension>
 
<extension
		id="PrologSearchResultPage"
		point="org.eclipse.search.searchResultViewPages">
		<viewPage
			id="org.cs3.pl.search.PrologSearchViewPage"
			searchResultClass="org.cs3.pdt.internal.search.PrologSearchResult"
			class="org.cs3.pdt.internal.search.PrologSearchResultPage">
		</viewPage>
	</extension>
<extension
      point="org.eclipse.ui.perspectiveExtensions">
   <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
      <view
            ratio="0.5"
            relationship="right"
            relative="org.eclipse.ui.views.TaskList"
            id="org.cs3.pdt.console.internal.views.PrologConsoleView"/>
   </perspectiveExtension>
</extension>
<extension
      point="org.eclipse.ui.commands">
   <command
         categoryId="org.cs3.pdt.editing"
         description="Show Quick Outline"
         id="org.eclipse.pdt.ui.edit.text.prolog.show.quick.outline"
         name="Toggle Comments"/>
   <command
         categoryId="org.cs3.pdt.editing"
         description="Toggles comment prefix on selected lines"
         id="org.eclipse.pdt.ui.edit.text.prolog.toggle.comments"
         name="Toggle Comments"/>
   <command
         categoryId="org.cs3.pdt.editing"
         description="Save Without Consult"
         id="org.eclipse.pdt.ui.edit.save.no.reconsult"
         name="Save Without (Re-)Consult"/>
   <command
         categoryId="org.cs3.pdt.editing"
         description="Consult"
         id="org.eclipse.pdt.ui.edit.consult"
         name="Consult"/>
   <category
         description="Commands for the Prolog Editor"
         id="org.cs3.pdt.editing"
         name="Prolog Editing"/>
</extension>
<extension
      point="org.eclipse.ui.bindings">
   <key
         commandId="org.eclipse.pdt.ui.edit.text.prolog.show.quick.outline"
         contextId="org.cs3.pdt.editingProlog"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="CTRL+O"/>
   <key
         commandId="org.eclipse.pdt.ui.edit.text.prolog.toggle.comments"
         contextId="org.cs3.pdt.editingProlog"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="CTRL+SHIFT+C"/>
   <key
         commandId="org.eclipse.pdt.ui.edit.save.no.reconsult"
         contextId="org.cs3.pdt.editingProlog"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="CTRL+ALT+S"/>
   <key
         commandId="org.eclipse.pdt.ui.edit.consult"
         contextId="org.cs3.pdt.editingProlog"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F9"/>
         
</extension>
<extension
      point="org.eclipse.ui.contexts">
   <context
         description="oh well, what will that be... editing giggling goblins i suppose?"
         id="org.cs3.pdt.editingProlog"
         name="Editing Prolog Code"
         parentId="org.eclipse.ui.textEditorScope"/>
</extension>
<extension
      point="org.cs3.pdt.runtime.ui.prologContextTracker">
   <tracker
         class="org.cs3.pdt.internal.editors.PLEditorTracker"
         id="pdt.track.pleditor"
         label="Follow PL Editor"/>
</extension>
<!--<extension
      point="org.eclipse.ui.editorActions">
   <editorContribution
         id="pdt.editorActionContributions"
         targetID="org.cs3.pdt.internal.editors.PLEditor">
      <action
            class="org.cs3.pdt.internal.actions.ToggleCommentAction"
            id="pdt.toggle.comment"
            label="Toggle Comments"
            style="push"
            toolbarPath="ToggleComments"/>
   </editorContribution>
</extension>-->

<extension point="org.eclipse.ui.editors.annotationTypes">
      <type
         name="org.cs3.pdt.occurrences">
      </type>
      <type name="org.cs3.pdt.occurrences.singleton"
      	super="org.cs3.pdt.occurrences">
      </type>
      <type name="org.cs3.pdt.occurrences.non.singleton"
      	super="org.cs3.pdt.occurrences">
      </type>
      <type name="org.cs3.pdt.occurrences.singleton.wrong.prefix"
      	super="org.cs3.pdt.occurrences">
      </type>
      

	</extension>
	
	<extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
 <specification
            annotationType="org.cs3.pdt.occurrences"
            label="Variable occurrence"
            textPreferenceKey="occurrenceIndication"
            textPreferenceValue="false"
            highlightPreferenceKey="occurrenceHighlighting"
            highlightPreferenceValue="true"
            contributesToHeader="false"
            overviewRulerPreferenceKey="occurrenceIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="occurrenceIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false"
            colorPreferenceKey="occurrenceIndicationColor"
            colorPreferenceValue="212,212,212"
            presentationLayer="4"
            showInNextPrevDropdownToolbarActionKey="showOccurrenceInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="true"
            isGoToNextNavigationTargetKey="isOccurrenceGoToNextNavigationTarget"
	        isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isOccurrenceGoToPreviousNavigationTarget"
	        isGoToPreviousNavigationTarget="false"
            textStylePreferenceKey="occurrenceTextStyle"
            textStylePreferenceValue="NONE">
	  </specification>
	  <specification
            annotationType="org.cs3.pdt.occurrences.singleton"
            label="Singleton"
            textPreferenceKey="singletonOccurrenceIndication"
            textPreferenceValue="false"
            highlightPreferenceKey="singletonOccurrenceHighlighting"
            highlightPreferenceValue="true"
            overviewRulerPreferenceKey="singletonOccurrenceIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="singletonOccurrenceIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false"
            colorPreferenceKey="singletonOccurrenceIndicationColor"
            colorPreferenceValue="240,216,168"
            presentationLayer="4"
            textStylePreferenceKey="singletonOccurrenceTextStyle"
            textStylePreferenceValue="NONE">
	  </specification>	  
	<specification
            annotationType="org.cs3.pdt.occurrences.non.singleton"
            label="Not a singleton although named as a singleton"
            textPreferenceKey="nonSingletonOccurrenceIndication"
            textPreferenceValue="false"
            highlightPreferenceKey="nonSingletonOccurrenceHighlighting"
            highlightPreferenceValue="true"
            overviewRulerPreferenceKey="nonSingletonOccurrenceIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="nonSingletonOccurrenceIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false"
            colorPreferenceKey="nonSingletonOccurrenceIndicationColor"
            colorPreferenceValue="255,193,193"
            presentationLayer="4"
            textStylePreferenceKey="nonSingletonOccurrenceTextStyle"
            textStylePreferenceValue="NONE">
	  </specification>	  	  
	<specification
            annotationType="org.cs3.pdt.occurrences.singleton.wrong.prefix"
            label="Singleton, but named as normal variable"
            textPreferenceKey="singletonWrongPrefixOccurrenceIndication"
            textPreferenceValue="false"
            highlightPreferenceKey="singletonWrongPrefixOccurrenceHighlighting"
            highlightPreferenceValue="true"
            overviewRulerPreferenceKey="singletonWrongPrefixOccurrenceIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="singletonWrongPrefixOccurrenceIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false"
            colorPreferenceKey="singletonWrongPrefixOccurrenceIndicationColor"
            colorPreferenceValue="255,237,202"
            presentationLayer="4"
            textStylePreferenceKey="singletonWrongPrefixOccurrenceTextStyle"
            textStylePreferenceValue="NONE">
	  </specification>	  	  
	</extension>
	  <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="PDT"
            id="org.cs3.pdt.wizards">
      </category>
      
            <wizard
                  category="org.cs3.pdt.wizards"
                  class="org.cs3.pdt.internal.wizards.NewModuleCreationWizard"
                  icon="icons/module_2.png"
                  id="pdt.module.wizard"
                  name="Prolog Module">
         <class class="org.cs3.pdt.internal.wizards.NewModuleCreationWizard">
            <parameter
                name="javatype"
                value="true">
            </parameter>
         </class>
         <description>
            Create a Prolog Module
         </description>
      </wizard>
    </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            class="org.cs3.pdt.internal.search.PrologSearchPage"
            icon="icons/filter.gif"
            id="org.cs3.pdt.prologSearchPage"
            label="Prolog search">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.cs3.pdt.internal.PrologTreeElementLabelDecorator"
            icon="icons/sample.gif"
            id="pdt. "
            label="label"
            lightweight="true"
            location="TOP_RIGHT"
            state="false">
         <enablement>
            <objectClass
                  name="org.cs3.pl.metadata.Predicate">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
<!--	
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="menu:org.cs3.pdt.menus.Prolog">
       <command
             commandId="org.eclipse.pdt.ui.edit.consult"
             style="push">
       </command>
    </menuContribution>
 </extension>
-->	

 <extension
       point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator
          class="org.cs3.pdt.quickfix.PDTMarker"
          markerType="org.eclipse.core.resources.problemmarker">
    </markerResolutionGenerator>
 </extension>
</plugin>
