<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.cs3.pdt"
   name="PDT Plug-in"
   version="0.2.0"
   provider-name="http://roots.iai.uni-bonn.de"
   class="org.cs3.pdt.PDTPlugin">

   <runtime>
      <library name="PDT.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.search"/>
      <import plugin="org.cs3.pdt.common"/>
      <import plugin="org.cs3.pdt.core"/>
      <import plugin="org.cs3.pdt.runtime"/>
      <import plugin="org.cs3.pdt.console"/>
      <import plugin="org.cs3.pdt.common.ui"/>
   </requires>
   
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.cs3.pdt.internal.startup.StartUp"/>
   </extension>

	<extension
         point="org.eclipse.ui.views">
      <category
            name="Prolog"
            id="org.cs3.pdt"/>
   </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer class="org.cs3.pdt.internal.preferences.Initializer"/>
 </extension>
 
 <extension
       point="org.eclipse.ui.actionSets">
    <actionSet
          label="Prolog Actions"
          visible="true"
          id="org.cs3.pdt.internal.actions">
       <menu
             label="Prolo&amp;g"
             id="org.cs3.pdt.menus.Prolog">
          <separator name="separator1"/>
          <separator name="separator2"/>
       </menu>
       <action
             label="Restart"
             class="org.cs3.pdt.internal.actions.RestartAction"
             accelerator="Ctrl+F9"
             style="push"
             menubarPath="org.cs3.pdt.menus.prolog/separator1"
             id="org.cs3.pdt.internal.actions.restart"/>
       <action
             label="Dump Debug Info"
             class="org.cs3.pdt.internal.actions.DumpDebugInfoAction"
             style="push"
             menubarPath="org.cs3.pdt.menus.prolog/separator1"
             id="org.cs3.pdt.internal.actions.dump"/>
       <action
             label="Consult"
             class="org.cs3.pdt.internal.actions.ConsultActionDelegate"
             accelerator="F9"
             style="push"
             menubarPath="org.cs3.pdt.menus.prolog/separator1"
             id="org.cs3.pdt.internal.actions.consult"/>
       <action
             label="Open Console"
             class="org.cs3.pdt.internal.actions.OpenConsoleAction"
             style="push"
             menubarPath="org.cs3.pdt.menus.prolog/separator1"
             id="org.cs3.pdt.internal.actions.open.console"/>
             
    </actionSet>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="org.cs3.pdt.internal.preferences.PreferencePage"
          name="PDT Preferences"
          id="org.cs3.pdt.internal.preferences.PDTPreferencePage"/>
 </extension>
  <extension
         point="org.eclipse.ui.editors">
      <editor
            name="PL Editor"
            icon="icons/prolog_file.gif"
            extensions="pl"
            class="org.cs3.pdt.internal.editors.PLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            id="org.cs3.pdt.internal.editors.PLEditor">
      </editor>
   </extension>

 <extension
         point="org.eclipse.ui.popupMenus">      
      <viewerContribution
            id="pdt.viewercontribution.console.contextmenu"
            targetID="org.cs3.pdt.console.internal.views.PrologConsoleView">
         <action
               class="org.cs3.pdt.internal.actions.GotoErrorLineViewActionDelegate"
               id="pdt.action.goto_error_line"
               label="Goto Error Line"
               menubarPath="additions"/>
      </viewerContribution>
 </extension>
 
<extension
		id="PrologSearchResultPage"
		point="org.eclipse.search.searchResultViewPages">
		<viewPage
			id="org.cs3.pl.search.PrologSearchViewPage"
			searchResultClass="org.cs3.pdt.internal.search.PrologSearchResult"
			class="org.cs3.pdt.internal.search.PrologSearchResultPage">
		</viewPage>
	</extension>
<extension
      point="org.eclipse.ui.perspectiveExtensions">
   <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
      <view
            ratio="0.5"
            relationship="right"
            relative="org.eclipse.ui.views.TaskList"
            id="org.cs3.pdt.console.internal.views.PrologConsoleView"/>
   </perspectiveExtension>
</extension>
<extension
      point="org.eclipse.ui.commands">
   <command
         categoryId="org.cs3.pdt.editing"
         description="Toggles comment prefix on selected lines"
         id="org.eclipse.pdt.ui.edit.text.prolog.toggle.comments"
         name="Toggle Comments"/>
   <category
         description="Commands for the Prolog Editor"
         id="org.cs3.pdt.editing"
         name="Prolog Editing"/>
</extension>
<extension
      point="org.eclipse.ui.bindings">
   <key
         commandId="org.eclipse.pdt.ui.edit.text.prolog.toggle.comments"
         contextId="org.cs3.pdt.editingProlog"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="CTRL+SHIFT+/"/>
</extension>
<extension
      point="org.eclipse.ui.contexts">
   <context
         description="oh well, what will that be... editing giggling goblins i suppose?"
         id="org.cs3.pdt.editingProlog"
         name="Editing Prolog Code"
         parentId="org.eclipse.ui.textEditorScope"/>
</extension>
<extension
      point="org.cs3.pdt.runtime.prologContextTracker">
   <tracker
         class="org.cs3.pdt.internal.editors.PLEditorTracker"
         id="pdt.track.pleditor"
         label="Follow PL Editor"/>
</extension>
<!--<extension
      point="org.eclipse.ui.editorActions">
   <editorContribution
         id="pdt.editorActionContributions"
         targetID="org.cs3.pdt.internal.editors.PLEditor">
      <action
            class="org.cs3.pdt.internal.actions.ToggleCommentAction"
            id="pdt.toggle.comment"
            label="Toggle Comments"
            style="push"
            toolbarPath="ToggleComments"/>
   </editorContribution>
</extension>-->

</plugin>
