<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.eclipse.ui.perspectives">
     <perspective
           class="org.cs3.pdt.PrologPerspective"
           id="org.cs3.pdt.perspective"
           name="Prolog">
     </perspective>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="org.cs3.pdt.examples"
           name="PDT"
           parentCategory="org.eclipse.ui.Examples">
     </category>
     <wizard
           category="org.eclipse.ui.Examples/org.cs3.pdt.examples"
           class="org.cs3.pdt.example.ExampleProjectCreationWizard"
           icon="icons/prolog_file_transparent.png"
           id="org.cs3.pdt.example.project.wizard"
           name="PDT Example Projects">
        <description>
           Choose from the list of PDT example projects.
        </description>
     </wizard>
  </extension>
</plugin>
