<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="prologContextTracker" name="Prolog Context Tracker" schema="schema/prologContextTracker.exsd"/>
	<extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.cs3.prolog.connector.internal.preferences.PreferenceInitializer">
    </initializer>
 </extension>
    <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.cs3.pdt.common.internal.preferences.PDTCommonPreferencePage"
          class="org.cs3.prolog.connector.internal.preferences.PreferencePage"
          id="org.cs3.prolog.connector.preferences.PreferencePage"
          name="Prolog Processes">
    </page>
 </extension>
  <extension
        point="org.cs3.prolog.connector.hooks">
     <registryHook
           class="org.cs3.prolog.connector.internal.PDTRegistryHook">
     </registryHook>
  </extension> 
 
</plugin>
