<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
        point="org.cs3.prolog.connector.bootstrapContribution">
     <fileContribution
           id="org.cs3.pdt.common.fileContribution"
           path="pl/load.pl">
        <dependency
              contribution="prolog.connector.fileContribution">
        </dependency>
     </fileContribution>
     <fileSearchPathContribution
           alias="pdt_common_pl"
           id="org.cs3.pdt.common.pl.path"
           path="pl/">
     </fileSearchPathContribution>
  </extension>

</plugin>
