<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">

      <view
            name="PDT Focus View"
            category="org.cs3.pdt"
            class="pdt.y.main.FocusViewPlugin"
            id="pdt.view.focus">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="pdt.y.focusview.preferences.PreferenceInitializer">
      </initializer>
      <initializer
            class="pdt.yworks.focusview.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.cs3.pdt.internal.preferences.PDTPreferencePage"
            class="pdt.y.focusview.preferences.PreferencePage"
            id="pdt.y.focusview.preferences.PreferencePage"
            name="Focus View">
      </page>
      <page
            category="pdt.y.focusview.preferences.PreferencePage"
            class="pdt.yworks.focusview.preferences.LayoutPreferences"
            id="pdt.yworks.focusview.preferences.LayoutPreferences"
            name="Layout">
      </page>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="pdt.y.swt.commands.LoadCommandHandler"
            description="LoadCommand"
            id="graphml.commands.load"
            name="Load">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:pdt.yworks.swt.views.yWorksDemoView">
         <command
               commandId="graphml.commands.load"
               label="Load"
               style="push"
               tooltip="Loads a graph from a GraphML file">
         </command>
      </menuContribution>
   </extension>
   -->
</plugin>
