<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.cs3.pdt.core"
   name="MetaData"
   version="0.2.0"

   class="org.cs3.pdt.core.PDTCorePlugin">
   <runtime>
      <library name="metadata.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-lang-2.1.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.cs3.pdt.common"/>
      <import plugin="org.junit"/>
      <import plugin="org.cs3.pdt.runtime"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.cs3.pdt.common.ui"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.jface.text"/>
   </requires>
	<extension
       point="org.eclipse.core.runtime.preferences">
    <initializer class="org.cs3.pdt.core.internal.preferences.Initializer"/>
 </extension>
    <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.cs3.pdt.internal.preferences.PDTPreferencePage"
          class="org.cs3.pdt.core.internal.preferences.PreferencePage"
          id="org.cs3.pdt.core.internal.preferences.PDTPreferencePage"
          name="Prolog Core"/>
 </extension>
 <extension point="org.eclipse.team.core.fileTypes">
	        <fileTypes extension="pl" type="text"/>
	</extension> 
	
<extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="PrologProjectObjectContribution">
         <action
               label="Prolog Project Nature"
               style="toggle"
               tooltip="Assignes/retracts PrologProject nature to/from a project"
               class="org.cs3.pdt.core.internal.actions.PrologProjectNatureAction"
               id="PrologProjectNatureAction">
         </action>
      </objectContribution>      
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            id="PrologFileObjectContribution">
         <action
               label="Auto-Consult"
               style="toggle"
               tooltip="Whether the file should be consulted"
               class="org.cs3.pdt.core.internal.actions.AutoConsultAction"
               id="AutoConsultAction">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="pdt.core.SourceFolderContribution"
            objectClass="org.eclipse.core.resources.IContainer">
         <action
               class="org.cs3.pdt.core.internal.actions.ToggleSourceFolderAction"
               id="pdt.core.toggle.source.folder.action"
               label="Include in Prolog Source Path"
               style="toggle"
               tooltip="If checked, the fodler is included in the source lookup path"/>
      </objectContribution>

 </extension>	
 <extension
      id="PDTProjectNature"
         name="Prolog Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.cs3.pdt.core.internal.natures.PrologProjectNature">
         </run>
      </runtime>
      <builder id="org.cs3.pdt.core.PrologBuilder"/>

 </extension>
<extension
       id="PrologBuilder"
       name="Prolog Builder"
       point="org.eclipse.core.resources.builders">
    <builder hasNature="true">
       <run class="org.cs3.pdt.core.internal.builder.PrologBuilder"/>
    </builder>
 </extension>
 
  <extension
       point="org.eclipse.ui.propertyPages">
    <page
          adaptable="true"
          objectClass="org.eclipse.core.resources.IProject"
          class="org.cs3.pdt.core.internal.properties.PrologProjectPropertyPage"
          icon="icons/sample.gif"
          name="Prolog Project Properties"
          id="org.cs3.pdt.properties.projectPropertyPage">
		  <filter
               name="nature"
               value="org.cs3.pdt.core.PDTProjectNature"/>
    </page>
    <!-- <page
          adaptable="true"
          category="org.cs3.pdt.properties.projectPropertyPage"
          class="org.cs3.pdt.core.internal.properties.AnnotatorsPropertyPage"
          icon="icons/sample.gif"
          id="org.cs3.pdt.properties.annotatorsPropertyPage"
          name="Parser Modules"
          objectClass="org.eclipse.core.resources.IProject">
		  <filter
               name="nature"
               value="org.cs3.pdt.core.PDTProjectNature"/>
    </page> -->
 </extension>
  <extension
        point="org.cs3.pdt.runtime.prologLibrary">
     <library
           alias="library"
           id="pdt.core.library"
           path="engine">
        <dependency library="pdt.runtime.library.pif"/>
        <dependency library="pdt.runtime.library.common"/>
        <!--<dependency library="pdt.runtime.library.swipl"/>-->
        <dependency library="pdt.runtime.library.attic"/>
        <attribute id="hidden" value="true"/>
     </library>
  </extension>
  <extension
        point="org.eclipse.ui.decorators">
     <decorator
           adaptable="true"
           class="org.cs3.pdt.core.internal.decorators.SourcePathDecorator"
           icon="icons/sample_decorator.gif"
           id="org.cs3.pdt.core.sourcepath.decorator"
           label="Resource Decorator"
           lightweight="true"
           location="TOP_RIGHT"
           objectClass="org.eclipse.core.resources.IContainer"
           state="true">
        <enablement>
           <and>
              <objectClass name="org.eclipse.core.resources.IResource"/>
              <or>
                 <objectClass name="org.eclipse.core.resources.IProject"/>
                 <objectClass name="org.eclipse.core.resources.IFile"/>
              </or>
           </and>
        </enablement>
     </decorator>
  </extension>
  <extension
        id="problem"
        name="Prolog Problem"
        point="org.eclipse.core.resources.markers">
     <super
           type="org.eclipse.core.resources.problemmarker">
     </super>
  </extension>
 
 
</plugin>
