<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    	<extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.cs3.pdt.core.preferences.PreferenceInitializer">
    </initializer>
 </extension>
    <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.cs3.pdt.internal.preferences.PDTPreferencePage"
          class="org.cs3.pdt.core.preferences.PreferencePage"
          id="org.cs3.pdt.core.preferences.PreferencePage"
          name="Prolog Core">
    </page>
 </extension>
 <extension point="org.eclipse.team.core.fileTypes">
	        <fileTypes extension="pl" type="text"/>
	</extension> 
	
<extension
         point="org.eclipse.ui.popupMenus">
         
         
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="PrologProjectObjectContribution">
            <!-- see org.eclipse.ui.IResourceActionFilter.PROJECT_NATURE -->
            <visibility>
		       <not>
	             <objectState
	                   name="nature"
	                   value="org.cs3.pdt.core.PDTProjectNature">
	             </objectState>
	          </not>
		    </visibility>            
            
         <action
               label="Prolog Project Nature"
			   style="push"
               menubarPath="org.eclipse.ui.projectConfigure/additions"
               tooltip="Assignes/retracts PrologProject nature to/from a project"
               class="org.cs3.pdt.core.internal.actions.PrologProjectNatureAction"
               id="add.PrologProjectNatureAction">
         </action>
      </objectContribution>
      
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="PrologProjectObjectContribution">
           <menu
	           id="org.cs3.pdt.menu"
	           label="Prolog Development Tools">
	        <separator
	              name="group0">
	        </separator>
	        <separator
	              name="group1">
	        </separator>
	     </menu>
	     <!-- see org.eclipse.ui.IProjectActionFilter.NATURE -->
            <visibility>
             <objectState
                   name="projectNature"
                   value="org.cs3.pdt.core.PDTProjectNature">
             </objectState>
		    </visibility>            
         <action
               label="Remove Prolog Project Nature"
			   style="push"
               menubarPath="org.cs3.pdt.menu/group0"
               tooltip="Removes PrologProject nature to/from a project"
               class="org.cs3.pdt.core.internal.actions.PrologProjectNatureAction"
               id="remove.PrologProjectNatureAction">
         </action>
      </objectContribution>
            
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            id="PrologFileObjectContribution">
            <visibility>
             <objectState
                   name="projectNature"
                   value="org.cs3.pdt.core.PDTProjectNature">
             </objectState>
		    </visibility>            
            
         <action
               label="Auto-Consult"
               style="toggle"
               tooltip="Whether the file should be consulted"
               class="org.cs3.pdt.core.internal.actions.AutoConsultAction"
               id="AutoConsultAction">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="pdt.core.SourceFolderContribution"
            objectClass="org.eclipse.core.resources.IContainer">
            <visibility>
             <objectState
                   name="projectNature"
                   value="org.cs3.pdt.core.PDTProjectNature">
             </objectState>
		    </visibility>            
            
         <action
               class="org.cs3.pdt.core.internal.actions.ToggleSourceFolderAction"
               id="pdt.core.toggle.source.folder.action"
               label="Include in Prolog Source Path"
               style="toggle"
               tooltip="If checked, the fodler is included in the source lookup path"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="pdt.core.EntryPointContribution"
            objectClass="org.eclipse.core.resources.IFile">
            <visibility>
             <objectState
                   name="projectNature"
                   value="org.cs3.pdt.core.PDTProjectNature">
             </objectState>
		    </visibility>            
            
         <action
               class="org.cs3.pdt.core.internal.actions.ToggleEntryPointAction"
               id="pdt.core.toggle_entry_point.action"
               label="Mark as Entry Point"
               style="toggle"
               tooltip="If checked, the file is considered as a &quot;main&quot; file.">
         </action>
      </objectContribution>

 </extension>	
 <extension
      id="PDTProjectNature"
         name="Prolog Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.cs3.pdt.core.internal.natures.PrologProjectNature">
         </run>
      </runtime>
      <builder id="org.cs3.pdt.core.PrologBuilder"/>

 </extension>
<extension
       id="PrologBuilder"
       name="Prolog Builder"
       point="org.eclipse.core.resources.builders">
    <builder hasNature="true">
       <run class="org.cs3.pdt.core.internal.builder.PrologBuilder"/>
    </builder>
 </extension>
 
  <extension
       point="org.eclipse.ui.propertyPages">
    <page
          adaptable="true"
          objectClass="org.eclipse.core.resources.IProject"
          class="org.cs3.pdt.core.internal.properties.PrologProjectPropertyPage"
          icon="icons/sample.gif"
          name="Prolog Project Properties"
          id="org.cs3.pdt.properties.projectPropertyPage">
		  <filter
               name="nature"
               value="org.cs3.pdt.core.PDTProjectNature"/>
    </page>
    <!-- <page
          adaptable="true"
          category="org.cs3.pdt.properties.projectPropertyPage"
          class="org.cs3.pdt.core.internal.properties.AnnotatorsPropertyPage"
          icon="icons/sample.gif"
          id="org.cs3.pdt.properties.annotatorsPropertyPage"
          name="Parser Modules"
          objectClass="org.eclipse.core.resources.IProject">
		  <filter
               name="nature"
               value="org.cs3.pdt.core.PDTProjectNature"/>
    </page> -->
 </extension>
  <extension
        point="org.cs3.pdt.runtime.prologLibrary">
     <library
           alias="library"
           id="pdt.core.library"
           path="engine">
        <dependency library="pdt.runtime.library.pif"/>
        <dependency library="pdt.runtime.library.common"/>
        <!--<dependency library="pdt.runtime.library.swipl"/>-->
        <dependency library="pdt.runtime.library.attic"/>
        <attribute id="hidden" value="true"/>
        <dependency
              library="pdt.runtime.library.pdt">
        </dependency>
     </library>
  </extension>
  <extension
        point="org.eclipse.ui.decorators">
        <decorator
           adaptable="true"
           icon="icons/pdt_marker.png"
           id="org.cs3.pdt.core.pdt.project"
           label="PDT Project"
           lightweight="true"
           location="TOP_LEFT"
           state="true">
           <enablement>
           <and>
                <objectClass name="org.eclipse.core.resources.IProject"/>
	             <objectState
	                   name="nature"
	                   value="org.cs3.pdt.core.PDTProjectNature">
	             </objectState>
           </and> 
            </enablement>
            
     </decorator>
     <decorator
           adaptable="true"
           class="org.cs3.pdt.core.internal.decorators.SourcePathDecorator"
           icon="icons/sample_decorator.gif"
           id="org.cs3.pdt.core.source.path.decorator"
           label="Prolog Source Path Decorator"
           lightweight="true"
           location="TOP_RIGHT"
           state="true">
           <enablement>
           	<or>
                <objectClass name="org.eclipse.core.resources.IProject"/> 
                <objectClass name="org.eclipse.core.resources.IFolder"/> 
            </or>
            </enablement>
     </decorator>
     <decorator
           adaptable="true"
           class="org.cs3.pdt.core.internal.decorators.EntryPointDecorator"
           icon="icons/sample_decorator.gif"
           id="org.cs3.pdt.core.entrypoints.decorator"
           label="Prolog Entry Points Decorator"
           lightweight="true"
           location="TOP_RIGHT"
           objectClass="org.eclipse.core.resources.IFile"
           state="true">
        <enablement>
           <objectClass
                 name="org.eclipse.core.resources.IFile">
           </objectClass>
        </enablement>
     </decorator>
  </extension>
  <extension
        id="problem"
        name="Prolog Problem"
        point="org.eclipse.core.resources.markers">
     <super
           type="org.eclipse.core.resources.problemmarker">
     </super>
     <attribute
           name="org.cs3.pdt.core.problem_id">
     </attribute>
  </extension>
  <extension
        id="problem.cheap"
        name="Cheap Prolog Problem"
        point="org.eclipse.core.resources.markers">
     <super
           type="org.cs3.pdt.core.problem">
     </super>
  </extension>
  <extension
        id="problem.expensive"
        name="Expensive Prolog Problem"
        point="org.eclipse.core.resources.markers">
     <super
           type="org.cs3.pdt.core.problem">
     </super>
  </extension>
 
 
</plugin>
